.mob-gallery{
    width: 100%;
    height: 47vh;
    position: relative;
    @include respond (desk){
        display: none;
    }
    &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    &__left,
    &__right{
        position: absolute;
        display: grid;
        place-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: white;
        top: 50%;
        translate: 0% -50%;
        stroke: $Black;
        &:hover{
            cursor: pointer;
            stroke: $orange;
        }
    }
    &__left{
        left: 3%;
        svg{
            position: relative;
            right: 1px;
        }
    }
    &__right{
        right: 3%;
        svg{
            position: relative;
            left: 1px;
        }
    }
}