.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 1.5rem;
  @include respond (desk){
    height: 12vh;
    margin-bottom: auto;
    border-bottom: 1px solid $grayishBlue;
  }
  // Burger menu & Navlinks
  &__burger {
    margin-right: 1rem;
    &:hover{
      cursor: pointer;
    }
    @include respond (desk){
      display: none;
    }
  }
  &-links{
    display: none;
    @include respond (desk){
      display: flex;
    }
    list-style-type: none;
    gap: 25px;
  }
  &__link{
    position: relative;
    
    a,
    a:link,
    a:visited{
      color: $darkGrayishBlue;
      text-decoration: none;
      &:hover{
        cursor: pointer;
        color: $Black;
        &::after{
      content: "";
      position: absolute;
      top: 274%;
      left: -1px;
      width: 100%;
      height: 3px;
      background-color: $orange;
    }
      }
    }
    
  }

  // Left & Right Nav Containers
  &-left,
  &-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-left {
    height: 50%;
    align-items: flex-end;
    @include respond (desk){
      gap: 40px;
    }
  }

  // User & Cart
  &-right {
    position: relative;
    width: 6.5rem;
    justify-content: space-between;
    &__cart{
      width: 2.5rem;
      stroke: 1px;
      fill: $darkGrayishBlue;
      &:hover{
        cursor: pointer;
        fill: $Black;
      }
    }
    &-num-items{
      position: absolute;
      top: 0;
      left: 15px;
      min-width: 22px;
      min-height: 17px;
      padding: 2px;
      background-color: $orange;
      display: grid;
      place-items: center;
      border-radius: 10px;
      color: $White;
    }
  }
  &-user {
    width: 2.5rem;
    img {
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        outline: 2px solid $orange;
      }
      width: 100%;
      object-fit: cover;
    }
  }
}
