.content-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include respond (desk){
        flex-direction: row;
        padding: 2rem;
        margin-bottom: auto;
        gap: 8rem;
    }
}